body {
  background: url('../img/method-draw-image.svg');
  background-repeat: repeat-y;
  background-size: 100% 30%;
}

/*body::after {
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:100vw;
  background:url(../img/backslant-footer.svg) no-repeat 50% 100%;
  background-size:100%
}*/