{% extends 'base.html' %}

{% block content %}

<div class="material-design-card" style="width: 50%;">
<p>
{{contact_form.firstName}}
{{contact_form.lastName}}
<br>

mobile: {{contact_form.phoneNumber}}
<br>
{{contact_form.email}}
<br>
<a href="http://github.com/ptruesdell">
{{contact_form.githubProfile}}
</a>
<br>
<a href="https://www.linkedin.com/in/parkertruesdell">
{{contact_form.linkedinProfile}}
</a>
</p>
</div>
<div class="material-design-card" style="font-size: 15px; width: 50%;">
  <p>
{{contact_form.pgpPublicKey|linebreaks}}
</p>
</div>

{% endblock %}

