{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 50%;">
<p>
{{contact_info.firstName}}
{{contact_info.lastName}}
<br>

mobile: {{contact_info.phoneNumber}}
<br>
{{contact_info.email}}
<br>
<a href="http://github.com/ptruesdell">
{{contact_info.githubProfile}}
</a>
<br>
<a href="https://www.linkedin.com/in/parkertruesdell">
{{contact_info.linkedinProfile}}
</a>
</p>
</div>
<div class="card" style="font-size: 15px; width: 50%;">
  <p>
{{contact_info.pgpPublicKey|linebreaks}}
</p>
</div>

<div class="card" style="width: 50%;">
<h1> Send a message </h1>
<form action="" method="post">
    {% csrf_token %}
    Name:
    <br>
    {{form.senderName}}
    <br>
    Email:
    <br>
    {{form.senderEmail}}
    <br>
    Subject:
    <br>
    {{ form.subject }}
    <br>
    Message:
    <br>
    {{form.message}}
    <br>
    <input type="submit" value="Submit" />
</form>
</div>


{% endblock %}

