{% extends 'base.html' %}


{% block title %} Blog Archive {% endblock %}

{% block content %}

{% for post in posts %}
<div class="card">
<div class="post"f>
	<h2>
		<a href="{{post.get_absolute_url}}">
			{{post.title}}
		</a>
	</h2>
	<p>{{post.content|linebreaks}}</p>
	<img src=url('../MEDIA_ROOT/door-graphic.png') alt="something" height="42" width="42">
	<p>
		Posted on
		<time datetime="{{post.created|date:"c"}}">
			{{post.created|date}}
		</time>
	</p>
</div>
</div>
{% endfor %}
{% endblock %}
